@model Bonificacao.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}
@switch (Model.TipoUsuario)
{
    case Bonificacao.Data.TipoPessoa.Cliente:
        <p>
            @{ Html.RenderAction("Index", "Indicacoes"); }
        </p>
        <p>
            @{ Html.RenderAction("Index", "Movimentacao"); }
        </p>
        break;
    case Bonificacao.Data.TipoPessoa.Administrador:        
        <p>
            @{ Html.RenderPartial("Index", "Movimentacao"); }
        </p>
        break;
    case Bonificacao.Data.TipoPessoa.Vendedor:
        <p>
            @{ Html.RenderAction("Create", "Movimentacao"); }
        </p>
        break;
    default:
        break;
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#clientes').multiselect();
            $('#datainicio').datepicker({
                language: "pt-BR",
                format: "dd/mm/yyyy"
            });
            $('#datafim').datepicker({
                language: "pt-BR",
                format: "dd/mm/yyyy"
            });
        });
    </script>
}