@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3,
h4,
h5 {
    margin-top: 5px;
    font-weight: 600;
}

.bold-font {
    font-weight: 700;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f3f3f4;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea,
button {
    max-width: 300px;
}

* {
    border-radius: 0 !important;
}

.form-conta {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
}

.error {
    color: #FF0000;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}

.loginscreen.middle-box {
    width: 300px;
}

.centered-box {
    position: fixed; /* or absolute if you want it to scroll with the page */
    top: 50%;
    left: 50%;
    width: 600px;
    height: 300px;
    /* this is where it all comes into play:
     Set the margins so that:
     margin-top is -(height/2)
     margin-left is -(width/2)
  */
    margin-top: -150px;
    margin-left: -300px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #b94a48 !important;
}

.field-validation-valid {
    display: none !important;
}

.input-validation-error {
    border: 1px solid #b94a48 !important;
}

.validation-summary-errors {
    color: #b94a48 !important;
    /*font-size: 12px;*/
}

    .validation-summary-errors ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

.validation-summary-valid {
    display: none !important;
}

.padding-top {
    padding-top: 10px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox.collapsed .fa.fa-chevron-up:before {
        content: "\f078";
    }

    .ibox.collapsed .fa.fa-chevron-down:before {
        content: "\f077";
    }

    .ibox:after,
    .ibox:before {
        display: table;
    }

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.middle-box h1 {
  font-size: 170px;
}
.logo-name {
  color: #e6e6e6;
  font-size: 180px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0px;
}