@{
    ViewBag.Title = "Login";
}

<form class="form-login" method="post">
    <h2>Login</h2>
    <label for="Usuario" class="sr-only">Usuário</label>
    <input type="text" id="Usuario" name="Usuario" class="form-control" placeholder="Usuário">
    <label for="Password" class="sr-only">Senha</label>
    <input type="password" id="Password" name="Password" class="form-control" placeholder="Senha">
    <button id="login" style="margin-top:10px;" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>